parameters:
	ignoreErrors:
		-
			message: "#^Call to method getElements\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: ajax/getFields.php

		-
			message: "#^Call to method load\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: ajax/getFields.php

		-
			message: "#^Cannot call method decode\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: ajax/getFields.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/getFields.php

		-
			message: "#^Instantiated class QUI\\\\FormBuilder\\\\Builder not found\\.$#"
			count: 1
			path: ajax/getFields.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/getSettings.php

		-
			message: "#^Cannot call method toArray\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: ajax/getSettings.php

		-
			message: "#^Cannot call method addError\\(\\) on QUI\\\\Messages\\\\Handler\\|null\\.$#"
			count: 1
			path: ajax/requests/deleteRequests.php

		-
			message: "#^Cannot call method addSuccess\\(\\) on QUI\\\\Messages\\\\Handler\\|null\\.$#"
			count: 1
			path: ajax/requests/deleteRequests.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 2
			path: ajax/requests/deleteRequests.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/requests/deleteRequests.php

		-
			message: "#^Cannot call method addError\\(\\) on QUI\\\\Messages\\\\Handler\\|null\\.$#"
			count: 1
			path: ajax/requests/getForms.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: ajax/requests/getForms.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/requests/getForms.php

		-
			message: "#^Argument of an invalid type array\\|int supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ajax/requests/getList.php

		-
			message: "#^Cannot call method addError\\(\\) on QUI\\\\Messages\\\\Handler\\|null\\.$#"
			count: 1
			path: ajax/requests/getList.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: ajax/requests/getList.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/requests/getList.php

		-
			message: "#^Parameter \\#2 \\$count of method QUI\\\\Utils\\\\Grid\\:\\:parseResult\\(\\) expects bool\\|int, array\\|int given\\.$#"
			count: 1
			path: ajax/requests/getList.php

		-
			message: "#^Call to method getElements\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Cannot call method getSection\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Class QUI\\\\FormBuilder\\\\Fields\\\\EMail not found\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Method QUI\\\\Contact\\\\Blacklist\\:\\:getBlacklistConf\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Method QUI\\\\Contact\\\\Blacklist\\:\\:getBlacklistConf\\(\\) should return array\\|null but returns array\\|string\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Offset 'emailAddresses' does not exist on array\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Offset 'ipAddresses' does not exist on array\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Offset 'useDNSBL' does not exist on array\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Parameter \\$Form of method QUI\\\\Contact\\\\Blacklist\\:\\:isBlacklisted\\(\\) has invalid type QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 2
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Property QUI\\\\Contact\\\\Blacklist\\:\\:\\$conf type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Static property QUI\\\\Contact\\\\Blacklist\\:\\:\\$conf \\(array\\|null\\) does not accept array\\|string\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Variable \\$rangeIps in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/QUI/Contact/Blacklist.php

		-
			message: "#^Argument of an invalid type array\\|int supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Call to method getField\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 3
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method getProject\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 2
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method getProjects\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method getSystemUser\\(\\) on QUI\\\\Users\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method save\\(\\) on QUI\\\\Projects\\\\Site\\\\Edit\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Cannot call method setAttribute\\(\\) on QUI\\\\Projects\\\\Site\\\\Edit\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Instantiated class QUI\\\\FormBuilder\\\\Builder not found\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Parameter \\#2 \\$val of method QUI\\\\QDOMInterface\\:\\:setAttribute\\(\\) expects array\\|bool\\|object\\|string, int given\\.$#"
			count: 1
			path: src/QUI/Contact/EventHandler.php

		-
			message: "#^Call to method addCustomFields\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getAddresses\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getAttribute\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getElements\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getMailBody\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getMailSubject\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Cannot call method get\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Cannot call method getMailer\\(\\) on QUI\\\\Mail\\\\Manager\\|null\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Parameter \\$Form of method QUI\\\\Contact\\\\Handler\\:\\:addCustomFormFields\\(\\) has invalid type QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Parameter \\$Form of method QUI\\\\Contact\\\\Handler\\:\\:sendFormAdminMails\\(\\) has invalid type QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Parameter \\$Form of method QUI\\\\Contact\\\\Handler\\:\\:sendFormSuccessMail\\(\\) has invalid type QUI\\\\FormBuilder\\\\Builder\\.$#"
			count: 2
			path: src/QUI/Contact/Handler.php

		-
			message: "#^Call to method getName\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Field\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Call to method getValueText\\(\\) on an unknown class QUI\\\\FormBuilder\\\\Field\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Cannot call method fireEvent\\(\\) on QUI\\\\Events\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Cannot call method get\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 2
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Method QUI\\\\Contact\\\\RequestList\\:\\:deleteRequests\\(\\) has parameter \\$requestIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Method QUI\\\\Contact\\\\RequestList\\:\\:getForms\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Method QUI\\\\Contact\\\\RequestList\\:\\:getList\\(\\) has parameter \\$searchParams with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Method QUI\\\\Contact\\\\RequestList\\:\\:getList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Offset mixed on array\\{\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^PHPDoc tag @throws with type Doctrine\\\\DBAL\\\\Exception\\|QUI\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Parameter \\#1 \\$data of static method QUI\\\\Security\\\\Encryption\\:\\:encrypt\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Parameter \\$formFields of method QUI\\\\Contact\\\\RequestList\\:\\:saveFormRequest\\(\\) has invalid type QUI\\\\FormBuilder\\\\Field\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php

		-
			message: "#^Variable \\$whereOr in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/QUI/Contact/RequestList.php
