<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="settings">
                <conf name="encryptContactRequests">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="globalPrivacyPolicyField">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/contact" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-address-card-o</icon>
            </params>

            <categories>
                <category name="settings">
                    <title>
                        <locale group="quiqqer/contact" var="settings.category.title"/>
                    </title>
                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/contact" var="settings.title"/>
                        </title>

                        <input conf="settings.encryptContactRequests" type="checkbox">
                            <text>
                                <locale group="quiqqer/contact" var="settings.encryptContactRequests.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/contact" var="settings.encryptContactRequests.description"/>
                            </description>
                        </input>

                        <input conf="settings.globalPrivacyPolicyField" type="checkbox">
                            <text>
                                <locale group="quiqqer/contact" var="settings.globalPrivacyPolicyField.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/contact" var="settings.globalPrivacyPolicyField.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

            </categories>
        </window>

    </settings>
</quiqqer>