
.qui-form legend {
    background: #e8e8e8;
    float: left;
    padding: 5px 0 5px 5px;
    width: 100%;
}

.qui-formfield-body {
    clear: both;
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-form input[type="submit"] {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 300px;
}

.qui-contact .content-message-error,
.qui-contact .content-message-success {
    margin-bottom: 20px;
}

.quiqqer-contact-success {
    margin: 20px 0 0 0;
}